# Ignore build results
bin/
obj/

# Ignore VS settings
.vs/
*.user
*.suo

# Ignore compiled files
*.exe
*.dll
*.pdb
*.cache
*.log

# Ignore NuGet artifacts
*.nupkg
*.snupkg
project.assets.json
*.nuget.cache

# Ignore backup and temp files
*.bak
*.tmp
*.old
